@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html{
    font-size: 62.5%;
}
section{
    padding-top: 10rem;
}
/* navbar section */
.navbar{
    /* background-color: var(--main-bg-color); */
    position: sticky;
    top: 0;
    left: 0;
    margin-top: -20rem;
    z-index: 999;

}
.left{
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid white;
    border-radius: .5rem;
    padding: .2rem ;
}
.left span{
    color: var(--main-bg-color);
}
.left a{
    color: white;
}
.right ul{
    display: flex;
    align-self: center;

}
.right ul li{
    align-self: center;
    display: inline-block;

}
.right ul a{
    color: white;
    font-size: 2rem;
    padding: 0 2rem;

}
.right ul a:hover{
    color: var(--main-bg-color);

}
.navbar-flex{
    justify-content: space-between;
    height:10rem ;
    align-items: center;
}
/* home section */
.home{
    height: 100vh;
    min-height:500px;
}
.home-background{
    background: url('../image/banner.jpg') no-repeat center center/cover;
    /* background-attachment: fixed; */
    height: 100vh;
    min-height:500px;
    position: relative;

}
.home-content{
    position: absolute;
    top: 14rem;
    left: 13rem;
    color: white;
}

.text-1{
    font-size: 3rem;
    
}
.text-2{
    font-size: 7rem;
    font-weight: 600;

}
.text-3{
    font-size: 4rem;
    font-weight: 500;
    color: #C4BEBE;

}
.abt-flex{
    display: flex;
    margin: 5.4rem 0;
    flex-wrap: wrap;
    transition: all .3s linear;
}

.head{
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
}
.abt-left{
    display: flex;
    justify-content: center;
}
.abt-left img{
    width:38rem;
    height: 36rem;
    object-fit: cover;
    border-radius: .5rem;
}
.abt-right{
    
    flex: 2 1 20rem;
    margin: 0 auto;
    margin-top: 4rem;
}
.abt-name{
    font-size: 2rem;
    font-weight: 600;
    
    line-height: 5rem;

}
.abt-detail{
    text-align: justify;
    font-size: 1.5rem;
    font-weight: lighter;
}

.abt-right span{
    color: var(--main-bg-color);
}
.abt-item{
    margin-right: 2rem;
}
.box{
    height: 20rem;
    background-color: red;
    flex: 1 1 20rem;
    margin: 2rem;
    transition: all .5s ease;
}
.p-work{
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skill-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.line{
    width: 100%;
    height: .5rem;
    background-color: lightgray;
    position: relative;
}
.line::before{
    content: "";
    position: absolute;
    left: 0 ;
    top: 0;
    height: 100%;
    background-color: var(--main-bg-color);

}
.html::before{
    width: 80%;
    
}
.css::before{
    width: 60%;
    
}
.JavaScript::before{
    width: 30%;
    
}
.skills{
    width: 50%;
    margin-top: 4rem;
}
.bars:not(:first-child){
    margin-top: 3rem;
}
